<%- include('layout', { title: title || 'Default Title', description: description || 'Default Description' }) %>

<div class="coin-page">
  <h1><%= coin.coin_name || 'Default Coin Name' %> (<%= coin.coin_base || 'Default Coin Base' %>) IRA</h1>
  <p><%= coin.ai_content || 'Default AI Content' %></p>
  <img src="<%= coin.logo_url || '/default-logo.png' %>" alt="<%= coin.coin_name || 'Default Coin Name' %>">
</div>
